body {
  color: var(--color-text);
  background-color: var(--color-background);
}
* {
  box-sizing: border-box;
  font-family: Hack;
}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container > hr {
  width: 100%;
}

main {
  flex: 1;
  width: 1000px;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  color: #327da8;
  transition: all 0.2s linear 0.01s;
}

.back-home-bar {
  width: 1000px;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.back-home-bar a {
  text-decoration: none;
}

.title-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.post-content {
  text-align: left;
}

.post-content > h1, h2:first-of-type {
  text-align: center;
}

.post-content > h2:first-of-type {
  margin-bottom: 3rem;
}

.post-content > h2 {
  font-size: 1.25em;
}

.post-content h2 > a:hover {
  font-size: 1.3rem;
}

.center-image-md {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-content img {
  border: 1px solid var(--color-text);
  margin: 1rem 0;
  display: block;
}

img[alt='Slide Banner'] {
  max-width: 1000px;
}

img[alt='All Tests Passing'] {
  max-height: 40vh;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-form {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.email-form * {
  height: 40px;
  border-radius: 6px;
}

.email-form input {
  flex: 1;
  padding: 0 0.5rem;
}

.email-form input:invalid:not(:focus) {
  border: 2px solid #fc3c3c;
}

.email-form button {
  min-width: 90px;
}

.email-form button:hover:not(:disabled) {
  box-shadow: 0 0 1px 1px var(--color-text);
  cursor: pointer;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  display: inline-block;
  background: gray;
  color: black;
  border-radius: 5px;
  padding: 0.15rem;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
}

.dark-mode-button {
  position: relative;
  top: 5px;
  left: 5px;
  height: 24px;
  width: 48px;
}

.dark-mode-button:hover {
  cursor: pointer;
}

@media (max-width: 1100px) {
  main {
    width: 80vw;
  }
  .back-home-bar {
    width: 80vw;
  }
  img[alt='Slide Banner'] {
    max-width: 80vw;
  }
  .email-form {
    width: 60vw;
  }
}